body, html {
  margin: 0;
  padding: 0;
}

.container {
  background-image: url("https://i.imgur.com/TxoIji2.jpeg"); /* Используем то же изображение для фона */
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(10px); /* Размытие фона */
}

.main-image {
  width: 300px; /* Измените размер по желанию */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 255, 0.5); /* Синяя обводка */
  animation: pulse 1.5s infinite;
  margin-bottom: 20px; /* Отступ между изображением и кнопкой */
}

.button {
  background-color: #007bff; /* Ярко-синий */
  color: white;
  padding: 15px 30px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 255, 0.5); /* Синяя обводка */
  animation: pulse 1.5s infinite;
}

/* Анимация мерцающей обводки */
@keyframes pulse {
  0% {
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.5);
  }
  50% {
    box-shadow: 0 0 20px rgba(0, 0, 255, 0.8);
  }
  100% {
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.5);
  }
}
